.containers {
    width: 40%;
    text-align: center;
    background-color: #3f51b51c;
    border: 2px solid #9e9e9e4a;
    padding: 2rem;
    border-radius: 1rem;
    margin: 160px auto 0px;
}

.button-style {
    padding: 0px;
    background-color: #EB3D3C;
    color: #422929;
    border-radius: 5px;
    border: 1px solid #BC0000;
    cursor: pointer;
}

.content1 {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-right: 2px solid #BF3333;
}

.content2 {
    display: inline-block;
    color: white;
    padding: 11px 15px;
    vertical-align: top;
    font-size: 18px;
}

.form-control {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid;
}

.lable-style {
    display: inline-block;
    width: 37%;
}